.button {
  -fx-padding: 5 22 5 22;
  -fx-border-style: none;
  -fx-background-radius: 0px;
  -fx-border-color: #ffffff;
  -fx-border-width: 2px;
  -fx-background-color: #4d4d4d;
  -fx-background-insets: 0px;
  -fx-border-insets: 0px;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 14px;
  -fx-text-fill: #ffffff;
}
.button:hover {
  -fx-background-color: #404040;
}
.button:pressed,
.button:default:hover:pressed {
  -fx-padding: 5 22 5 22;
  -fx-border-style: none;
  -fx-background-radius: 0px;
  -fx-border-color: #ffffff;
  -fx-border-width: 2px;
  -fx-background-color: #4d4d4d;
  -fx-background-insets: 0px;
  -fx-border-insets: 0px;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 14px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #333333;
}
.login {
  -fx-border-color: transparent;
  -fx-background-color: #595959;
}

