
.button {
  -fx-padding: 5 22 5 22;
  -fx-border-style: none;
  -fx-background-radius: @default-radius;
  -fx-border-color: @default-border-color;
  -fx-border-width: @default-border-width;
  -fx-background-color: @component-background-color;
  -fx-background-insets: @default-insets;
  -fx-border-insets: @default-insets;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: @default-font-size;
  -fx-text-fill: @default-font-color;
}

.button:hover {
  -fx-background-color: @component-hover-color;
}

.button:pressed, .button:default:hover:pressed {
  .button;
  -fx-background-color: @component-pressed-color;
}

@import "styles";